@import '../assets/scss/fonts';
@import '../assets/scss/mixins';
@import '../assets/scss/normalize';
@import '../assets/scss/variables';

.wrapper{
   position: relative;
   width: 100%;
   height: 100vh;
   font-family: $r-font;
}

.accardion{

   &__item{
       margin-bottom: 20px;
   }
 
   &__head{
       width: 100%;
       padding: 5px 10px;
       background: rgba(226, 0, 15, 0.05);
       border-radius: 60px;
       @include d-flex(center, space-between);
       cursor: pointer;
       transition: all 0.3s ease;
 
       &-title{
           font-family: $m-font;
           font-style: normal;
           font-weight: 700;
           font-size: 14px;
           line-height: 125%;
           color: #2B2B2B;
       }
 
       &-icon{
           width: 10px;
           height: 10px;
           border-right: 1px solid #ED242C;
           border-bottom: 1px solid #ED242C;
           display: inline-block;
           transform: rotate(45deg);
           transition: all 0.3s ease;
       }
 
       &.active &-icon{
               transform: rotate(-135deg);
       }
   }
 
   &__body{
       padding-left: 10px;
       height: 0;
       overflow: hidden;
       transition: all 0.3s ease;
   }
 }

   .next,
   .prev{
      position: absolute;
      top: 50%;
      cursor: pointer;
   }

   .next{
      right: -8%;
      transform: rotate(180deg);
   }

   .prev{
      left: -8%;
   }
// HEADER START
.navbar{
   height: 135px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;

   &__btn{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      @media screen and(max-width:768px) {
         align-items: center;
      }

   &-text{
      display: flex;
      align-items: center;
      margin-right: 14px;
      margin-top: 30px;
   }
   &-text img{
      margin-right: 10px;
   }
   }
}
.navbar__menyu{
   display: flex;
   align-items: center;

   @media screen and (max-width: 900px) {
      display: none;
   }

& a{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
   transition: all 0.3s ease;
}
& a:hover{
   color: red;
}
& a:not(:last-child){
   margin-right: 30px;
}
}
.navbar__button{
   &-text{
      display: flex;
      align-items: center;

      & p{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 300;
         font-size: 14px;
         line-height: 16px;
         text-align: right;
         color: #440005;
      }
      & img{
         margin-left: 10px;
      }
   }
  }
.navbar__button button{
   position: relative;
   height:50px ;
   padding-left: 25px;
   flex-wrap: wrap;
   border: 1px solid #E2000F;
   box-sizing: border-box;
   border-radius: 5px;
   margin:30px 0 12px;
   cursor: pointer;
   transition: 0.3s ease;
   @media screen and (max-width: 768px) {
      font-size: 0;
      width: 25px;
      height: 25px;
      border: none;
      background-color: transparent;
   }
}

@media screen and (min-width:768px) {
   .navbar__button button:hover{
     background-color: rgb(163, 158, 154);
   }

}

.navbar__button{
   &-text{
      display: flex;
      align-items: center;
      color: #000;
      @media screen and (max-width: 768px) {
         display: none;
      }
      
   }
   &-text p{
      margin-right: 10px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      text-align: right;

      
   }
   &-text span{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 16px;
      color: #000;
      text-align: right;
   }
}
.navbar__button button::before{
   content: '?';
   position: absolute;
   width: 15px;
   height: 15px;
   top: 20%;
   left: 4%;
   padding: 5px 5px;
   color: #fff;
   background-color: #000000;
   border-radius: 50%;

   @media screen and (max-width: 768px) {
      font-size: 20px;
      width: 100%;
      height: 100%;
      background-color: #440005;
   }
}
.city_name{
   color: #000;
   border-bottom: 2px dashed #000;
}
.city_name2{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;
   text-align: right;
   color: #440005;
}
.navbar__button-btn-text{
   width: 160px;
   margin: 10px 25px 10px 12px;
}
.menyu{
   position: relative;
   background-color: #440005;

   &__row{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__search{
         width: 470px;
         position: relative;
         height: 28px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background: #F7F7F7;
         border-radius: 5px;
         padding: 10px;

         @media screen and (max-width: 1024px) {
            margin-left: 30px;
         }

         @media screen and (max-width: 768px) {
            width: 80%;

         }

         &.active{
            border-radius: 5px 5px 0 0;
         }

         .search__btn{
            height: 24.5px;
            background-color: transparent;
            border: none;
         }

         &-input{
            // width: 470px;
            height: 28px;
            background-color:transparent;
            border: 0;
            outline: none;
            flex-grow: 1;
         }


         .search__panel{
            background-color: #F7F7F7;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: auto;
            padding: 15px 30px 15px 10px;
            z-index: 10;
            border-radius: 0 0 5px 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease;

            &.active{
               opacity: 1;
               visibility: visible;
            }

            &-list{
               width: 100%;
            }

            &-item{
               display: flex;
               align-items: center;
               justify-content: space-between;
               margin-bottom: 10px;
            }

            &-img{

               img{
                  width: 53px;
                  height: 45px   ;
               }
            }

            &-name{
               font-family: $m-font;
               font-style: normal;
               font-weight: 400;
               font-size: 13.937px;
               line-height: 17px;
               color: #2B2B2B;
               

               &:hover{
                  color: #E2000F;
                  cursor: pointer;
               }
            }

            &-price{
               font-family: $m-font;
               font-style: normal;
               font-weight: 600;
               font-size: 13.937px;
               line-height: 17px;
               color: #000000;
            }

            &-itemBtn{
               background-color: transparent;
               border: none;

               &-icon{
                  margin-right: 5px;
               }

               &-text{
                  font-family: $m-font;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 9.955px;
                  line-height: 12px;
                  color: #EC1C23;
               }
            }

            &-btn{
               background-color: transparent;
               border: none;
               padding: 5px 30px;
               border: 1px solid #440005;
               border-radius: 5px;
               font-family: $m-font;
               font-style: normal;
               font-weight: 600;
               font-size: 9.955px;
               line-height: 12px;
               color: #440005;
            }
         }
      }
   &__left{
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @media screen and (max-width: 1024px) {
         flex: 1 1 auto;
      }

      &-menyu{
         display: flex;
         align-items: center;

         @media screen and (max-width: 1024px) {
            align-items: flex-start;
         }

         &-text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
         }

         &-img{
            background-color: transparent;
            border: none;
            & img{
               width: 45px;
               height: 45px;
            }
         }

         & p{
            margin:0 32px 0 9px;

            @media screen and (max-width: 1024px) {
               display: none;
            }
         }
      }
   }

   &__right{
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &-heart-img {
         @media screen and (max-width:600px) {
            width: 20px !important;
         }
      }

      &-item{
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         &:not(:last-child){
            @include adaptive-value('margin-right', 15, 8, 1);
         }

         @media screen and (max-width: 1024px) {
            flex-direction: column;
            
         }
         

         & img{
            width: 50px;
            height: 50px;
            padding: 12px 0;

             @media  screen and (max-width:600px) {
                width: 20px;
             }
         }

         & p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;

            @media screen and (max-width:600px) {
               display: none;
            }
         }
      }
   }

   .menu{
      position: absolute;
      left: 0;
      top: 100%;
      padding: 45px;
      background-color: #fff;
      border-radius: 14px;
      z-index: 10;
      font-family: $m-font;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #2B2B2B;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease;

      &.active{
         opacity: 1;
         visibility: visible;
         z-index: 20;
      }

      &__row{
         display: flex;
         flex-wrap: wrap;
      }

      &__col{
         width: 30%;
         margin-bottom: 50px;
      }

      &__link{
         font-weight: 700;
         color: #2B2B2B;

         &:hover{
            text-decoration: underline;
         }
      }

      &__list{
         margin-top: 10px;
         padding-left: 20px;
      }

      &__item{
         margin-bottom: 5px;
      }

      &__sublink{
         color: #2B2B2B;

         &:hover{
            text-decoration: underline;
         }
      }
   }
}

.heart a {

      img {
         width: 50px;
         height: 50px;
      }
}
// HEADER END


/* MODAL START */

.modal{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   @include d-flex(center, center);
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease;

   &.active{
      opacity: 1;
      visibility: visible;
   }

   &__panel{
      position: relative;
      background: #FFFFFF;
      border-radius: 5px;
      padding: 30px 20px 20px 30px;
      min-height: 240px;
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }

   &__close{
      position: absolute;
      top: 15px;
      right: 15px;

      &-btn{
         border: none;
         background-color: transparent;
      }
   }

   &__content{
      width: 100%;

      &-img{
         img{
            width: 100%;
         }
      }
   }

   &__title{
      font-family: $r-font;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #2B2B2B;
      margin-bottom: 15px;
   }

   &__city{
      &-name{
         h1{
            font-family: $r-font;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            color: #EC1C23;
         }
   
         p{
            font-family: $r-font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #CDCDCD;
         }
      }

      &-select{
         display: none;

         select{
            width: 100%;            
            padding: 5px 20px;
         }

         &-text{
            font-family: $r-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #2B2B2B;
            margin-bottom: 15px;
         }
      }

      

      &-btn{
         width: 170px;
         height: 30px;
         @include d-flex(center,center);   
         font-family: $r-font;
         font-style: normal;
         font-weight: 700;
         font-size: 12px;
         line-height: 14px;
         border: none;
         border-radius: 5px;
         display: inline-block;

         &.btn-yes{
            background: #1AC000;
            color: #fff;
            margin-right: 30px;
         }

         &.btn-no{
            border: 1px solid #F7F7F7;
            background-color: transparent;
         }
      }

   }

   .content__modal{
      font-family: $m-font;
      font-style: normal;
      line-height: 125%;
      color: #2B2B2B;

      @include d-flex(flex-start, space-between);
      &-left{
         width: 35%;
      }

      &-right{
         width: 60%;
      }

      &-img{
         img{
            width: 100%;
         }
      }
   }

   .content {
      &__name{
         margin-bottom: 5px;
         .name{
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 125%;
            color: #323232;
            margin-bottom: 5px;
         }

         .subname{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 125%;
            color: #CDCDCD;
         }
      }

      &__rating{
         display: flex;
         align-items: center;
         margin-bottom: 20px;

         &-text{
            margin-left: 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;
         }
      }

      &__pricing{
         padding-left: 20px;
         border-left: 2px solid #EFEFEF;
         margin-bottom: 20px;

         .old__price{
            font-weight: 500;
            font-size: 20px;
            text-decoration-line: line-through;
            margin-right: 10px;
         }

         .discount{
            font-weight: 600;
            font-size: 20px;
            color: #E2000F;
         }

         .price{
            font-weight: 600;
            font-size: 30px;
            color: #E2000F;
         }

         .bonus{
            font-weight: 700;
            font-size: 14px;
         }
      }

      &__images{
         text-align: center;
         margin-bottom: 20px;
         img{
            width: 60px;
            height: 60px;
            border-radius: 5px;
            
            &:not(:last-child){
               margin-right: 15px;
            }

            &.active{
               border: 2px solid #E2000F;
            }
         }
      }

      &__more{
         margin-bottom: 20px;
         
         &-btn{
            width: 100%;
            border: 1px solid #E2000F;
            border-radius: 5px;
            background-color: transparent;
            padding: 8px 0;
            font-weight: 600;
            font-size: 12px;
            color: #E2000F;
            transition: all 0.3s ease;

            &:hover{
               background-color: #E2000F;
               color: #fff;
            }
         }
      }

      &__footer{
         @include d-flex(center, center);
         
      }

      &__counting{
         margin-right: 20px;
         @include d-flex(center, center);

         .increase__btn,
         .decrease__btn{
            font-size: 28px;
            color: #000000;
            background-color: transparent;
            border: none;
         }

         &-text{
            padding: 5px 20px;
            line-height: 100%;
            border: 1px solid #BABABA;
            border-radius: 5px;
            margin: 0 15px;
         }
      }

      &__buy{
         &-btn{
            border: 2px solid #E2000F;
            background: #E2000F;
            @include d-flex(center, center);
            padding: 5px 20px;
            border-radius: 5px;
            transition: all 0.3s ease;

            .btn_icon{
               svg{
                  width: 21px;
                  height: 21px;
                  transition: all 0.3s ease;

               }
               margin-right: 5px;
            }

            .btn_text{
               font-weight: 700;
               font-size: 12px;
               color: #FFFFFF;
               transition: all 0.3s ease;
            }

            &:hover{
               background-color: transparent;

               .btn_icon{
                  path{
                     fill: #E2000F;
                  }
               }

               .btn_text{
                  color: #E2000F;
               }
            }
         }
      }
   }

}

.product__modal{
   .modal__panel{
      width: 720px;
   }

   &-accardion{
      .accardion{

         &__head{
            background-color: transparent;
         }

         &__content{
            &-text{
               font-family: $r-font;
               font-style: normal;
               font-weight: 300;
               font-size: 12px;
               line-height: 110%;
               color: #323232;
               opacity: 0.8;
               width: 100%;
               display: flex;

               &-dot{
                  flex: 1 1 auto;
                  border-bottom: 1px dotted #323232;
               }
            }
         }
      }
   }

}

/* MODAL END */


     // M A I N S T A R T
// delevery start
main{
position: relative;
background-color:
#fff
}
.delivery{
   position: relative;
   background-color:
   #F7F7F7;

   &__footer{
      position: relative;
      margin: 68px 0 40px 0;
      &-list{
         display: flex;
         align-items: center;
         justify-content: space-between;
      }

      &-item:not(:last-child){
         margin-right: 80px;

         @media screen and(max-width:768px) {
            margin-right: 10px;
         }
      }
      &-item{
         display: flex;
         align-items: center;
         justify-content: flex-start;
         flex-direction: column;

         & img {
            object-fit: contain;
         }


         & h3{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 110%;
            text-align: center;
            color: #323232;
            margin: 15px 0 11px 0;

            @media screen and (max-width:768px) {
               font-size: 18px;
            }
         }
         & p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 145%;
            text-align: center;
            color: #323232;
            margin-bottom: 30px;

            @media screen and (max-width:768px) {
               display: none;
            }

         }
      }
   }

   &__slider{
      position: relative;
      background-color: #fff;
      padding-bottom: 35px;
      box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.1);

      .swiper-button-next,
      .swiper-button-prev{
         &::after{
            display: none;
         }
      }

      .swiper-button-next{
         transform: rotate(180deg);
      }

      &-title h2{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 700;
         font-size: 24px;
         line-height: 28px;
         text-align: center;
         color: #323232;
         margin: 37px 0 30px 0;

      }

      &-list{
         display: flex;
         align-items: center;
         justify-content: space-between;

         .right{
            transform: rotate(180deg);
            margin-right: 10px;
         }
         .left{
            margin-left: 10px;
         }
      }
      &-item{
         @include d-flex(center,center);

         & p:last-child{
           margin-left: 10px;
         }

         & p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #323232;
         }
      }
   }
}

.banner-slider{
   width: 100%;
   position: relative;
   overflow: hidden;

   &__title {
      width: 300px;
      img {
         width: 100%;
      }
   }

   .swiper-pagination{
      &-bullet{
         width: 20px;
         height: 20px;
         background-color: rgba(255, 255, 255, 0.8);
         opacity: 1;
      
         &-active{
            background-color: #fff
         }
      }

      
   }

   &__slide{
      @include d-flex(start, flex-start);
      height: 425px;
   }

   &__left{
      position: relative;
      width: 68%;
      height: 100%;

      @media screen and (max-width:600px) {
         width: 100%;
      }

   }

   &__content{
      position: absolute;
      top: 60px;
      right: 35px;
   }

   &__right{
      width:32%;
      height: 100%;

      @media screen and (max-width:600px) {
         display: none ;
      }

      .banner-slider-img{
         height: 50%;
      }
   }

   &-img{
      width: 100%;
      height: 100%;
      img{
         width: 100%;
         height: 100%;
         vertical-align: middle;
         object-fit: cover;
      }
   }
}
// delevery end

// order start
.orderone{
   position: relative;
   overflow: hidden;

      .next,
      .prev{
         position: absolute;
         top: 50%;
         cursor: pointer;
      }

      .next{
         right: -8%;
         transform: rotate(180deg);
      }

      .prev{
         left: -8%;
      }

   &__text{
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-title4{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 700;
         font-size: 24px;
         line-height: 28px;
         color: #2B2B2B;
      }
      &-desc{
         height: 15px;
         font-family: 'Roboto';
         font-style: italic;
         font-weight: 500;
         font-size: 12px;
         line-height: 14px;
         color: #E2000F;
         transition: all 0.4s ease;

         &:hover{
            border-bottom: 2px solid red;
         }
      }
   }
   &__list{
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      // flex-wrap: wrap;
      width: 85% !important;
      margin: 45px auto 0 auto;
   }
   &__item{
      background-color: #fff;
      width:100%;
      height:354px;
      border: 1px solid #CCCCCC;
      border-radius: 10px;
      margin-bottom:50px ;
      margin-right: 30px;

      &-content{
         padding: 15px 10px 10px 15px;
      }

      &-right{
         transform: rotate(180deg);
      }

      &-card{
         position: relative;
      }
      .order-before{
         position: absolute;
         top: 0;
         left: 0;
         padding: 8px 15px 8px 10px;
         z-index: 10;
         font-size: 17px;
         font-weight: 700;
         color: #fff;
         border-radius: 10px 0 50px 0;

         &-red{
            background-color: #E2000F;
         }

         &-darkred{
            background-color: #7E171F;
         }

         &-gold{
            background-color: #FFAF16;
         }

         &-orange{
            background-color:  #FB4D00;
         }
      }

      &-card-download{
         display: flex;
      }
   }
   &__item-card-img{
      position: relative;
      overflow: hidden;
      cursor: pointer;

      & img{
         width: 100%;
      }

      & button{
         position: absolute;
         width: 90%;
         height: 40px;
         left: 12px;
         bottom: -100%;
         opacity: 0;
         background: rgba(0, 0, 0, 0.2);
         border: 2px solid #FFFFFF;
         box-sizing: border-box;
         border-radius: 5px;
         color: #fff;
         transition: all 0.3s ease;
         cursor: pointer;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 700;
         font-size: 17px;
         line-height: 20px;
      }
      & button:hover{
        color: #fff;
        
      }

      &:hover{
         & button{
            bottom: 12px;
            opacity: 1;
         }
      }
   }
   

   &__item-card-text{
      & h3{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 500;
         font-size: 16px;
         line-height: 19px;
         color: #2B2B2B;
      }
      & span{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 16px;
         color: #A1A1A1;
         margin-top: 7px;
      }

      & button{
         display: flex;
         align-items: center;
         justify-content: center;
         width: 90%;
         height: 35px;
         background-color: #E2000F;
         margin-top: 17px;
         border-radius: 5px;
         transition: all 0.4s ease;
         border: none;
         color: #fff;

         & img{
            width: 21px;
            margin-left: 15px;
         }
      }
      & button:hover{
         background-color: #000;
         color: #fff;
         cursor: pointer;
      }
   }
}
.aksiya{
   color: red;
}
.orderone__two{
   background-color: #7E171F;
}
.red__title{
   color: #fff;
   margin: 50px 0;
}
.orderone__item__fff{
   background-color: #fff;
}
// order end

//Recipes start
.Recipes{


   &__list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 85%;
      margin: 0 auto;
   }

   

   &__item{
      margin-right: 30px;

      & img{
         width: 100%;
      }

      & h3{
         width: 250px;
         height: 44px;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 700;
         font-size: 18.708px;
         line-height: 22px;
         color: #2B2B2B;
         margin: 25px 0 10px 0;
      }
      &-right{
         transform: rotate(180deg);
      }
   }
}
.orderone__text2{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 48px 0;
}
.views__list{
   display: flex;
   align-items: center;
}
.time__item{
   display: flex;
   align-items: center;
}
.time__item img{
   margin-right: 4px;
}
.time__item-vilka{
   margin: 0 125px 0 45px;
}
.orderone__text3{
   margin-top: 95px;
}
//Recipes end

// products start
.products{
   background-color: #F7F7F7;

   &__text{
      & h3{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 700;
         font-size: 24px;
         line-height: 26px;
         color: #EC1C23;
         margin: 60px 0 70px 0;
         padding-top: 30px;
      }
   }

   &__content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      & p{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 150%;
         color: #2B2B2B;
         margin-bottom: 25px ;
         margin-left: 25px;

      }

      &-text{
         width: 50%;

         @media screen and (max-width: 758px) {
            width: 100%;
         }
      }

      &-img{
         width: 45%;

         @media screen and (max-width: 758px) {
            display: none;
         }

         img{
            width: 100%;
            vertical-align: middle;
         }
      }
   }
   &__list{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 85%;
      margin: 0 auto;
   }
   &__item{
      width: 250px;
      position: relative;
      display: flex !important;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      height: 250px;

      &:nth-child(even){
         flex-direction: column-reverse;
      }

      &:nth-child(odd)::before{
         content: '';
         position: absolute;
         width: 20px;
         height: 20px;
         bottom: 50%;
         right: 0px;
         border-top: 2px solid #EC1C23;
         border-left: 2px solid #EC1C23;
         transform: rotate(180deg);
      }

      &:nth-child(even):not(:last-child):before{
         content: '';
         position: absolute;
         width: 20px;
         height: 20px;
         bottom: 50%;
         right: 5%;
         border-top: 2px solid #EC1C23;
         border-left: 2px solid #EC1C23;
         transform: rotate(90deg);
      }

      &-desc{
         // width: 250px;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 17px;
         line-height: 120%;
         text-align: center;
         color: #323232;
         margin-bottom: 40px;

      }
      &-logo{
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100px;
         height: 100px;
         border: 3.15px solid #EC1C23;
         box-sizing: border-box;
         border-radius: 50%;
      }

   }
   
}
.products__list2{
   position: relative;
   margin-left: 200px;
   margin-top: -60px;
}
.products__item2{
   margin-bottom: 65px;
}
// products end

// news start
.news{
position: relative;


&__list{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}
&__item{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   margin-bottom: 30px;
   width: 47%;

   @media screen and (max-width: 900px) {
      width: 100%;
   }

   &-text{
      width: 65%;
      @media screen and (max-width: 758px) {
         width: 54%;
      }
      & a{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 700;
         font-size: 14px;
         line-height: 16px;
         color: #2B2B2B;
         transition: all 0.3s ease;
      }
      & a:hover{
         color: red;
      }
      & span{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 300;
         font-size: 10px;
         line-height: 12px;
         color: #8F8F8F;
      }
      & p{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 300;
         font-size: 12px;
         line-height: 170%;
         color: #2B2B2B;
      }
   }

   &-img{
      width: 33%;

      @media screen and (max-width: 758px) {
         width: 44%;
      }

      img{
         width: 100%;
      }
   }
}

}
.news__list2{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 85%;
   margin: 0 auto;
   }
.news__item2{
   height: 174px;
   border: 1px solid #CCCCCC;
   margin-right: 30px;

   &-card{
     margin: 16px 16px 25px 35px;

     & p{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 170%;
      color: #2B2B2B;
      margin: 17px 0;
     }
    .orderone__text-desc2{
       width: 70px;
       color: red;
       font-family: 'Roboto';
       font-style: italic;
       font-weight: 500;
       font-size: 13px;
       line-height: 15px;
    }
    .orderone__text-desc2:hover{
      border-bottom: 2px solid red;
    }
   }
   & h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2B2B2B;
    margin-bottom: 12px;
   }
}
.news__item2:hover{
   background-color:#F7F7F7;
}
.news__text{
   &-desc{
      margin-bottom: 85px;
   }

   & h2{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #2B2B2B;
      margin: 100px 0 25px 0;
   }
   & p{
      width: 80%;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 145%;
      color: #2B2B2B;
      margin-bottom: 20px;
   }
}
.news__email{
   background-color: #7E171F;

   &-email{
      & input{
         width: 365px;
         height: 35px;
         background: #F7F7F7;
         border-radius: 5px;
         padding: 5px 10px;
         border: none;
         margin: 55px 0 30px 0;
      }
   }

   &-list{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
   }
   &-item{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 30px;

      & p{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         line-height: 125%;
         color: #FFFFFF;
      }
      & span{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 300;
         font-size: 12px;
         line-height: 14px;
         color: #FFFFFF;
         margin-left: 10px;
      }

      & button{
         width: 200px;
         height: 40px;
         background: #EC1C23;
         border-radius: 5px;
         color: #fff;
         border: transparent;
         transition: all 0.3s ease;
      }
      & button:hover{
         background-color: #000;
         color: #fff;

      }
   }

}
// news end
      // M A I N E N D


      // FOOTER START
      .footer{
         background-color:
         #440005;
      }
      .Buyers__list{
         display: flex;
         align-items: flex-start;
         flex-wrap: wrap;
       }
      .Buyers__item{
         display: flex;
         align-items: flex-start;
         flex-direction: column;
         margin: 45px 100px 45px 0;

         &-question{
            display: flex;
            align-items: center;
            justify-content: flex-start;

            & img{
               width: 30px;
               height: 30px;
               margin-right: 10px;
            }
         }
         & h4{
            width: 200px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            margin-bottom: 20px;
         }
         & p,a,b{
            width: 200px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            cursor: pointer;
            margin-bottom: 8px;
            transition: all 0.4s ease;

            &:hover{
               color: red;
            }
         }
      }
      .fotter__social{
         display: flex;
         align-items: center;
         justify-content: center ;
         margin-bottom: 30px;
      }
      .fotter__social-img:not(:last-child){
        margin-right: 20px;
      }
      .fotter__social-text{
          padding: 20px;
         & p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;
         }
         & span{
            color: #8F8F8F;
            margin-left: 10px;
            cursor: pointer;
            &:hover{
               color: red;
            }
         }
      }
      // FOOTER END
